{% extends 'base.html' %}
{% load static %}


{% block PageContent %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Age</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
        {% for employee in employees %}
            <tr>   
                <td><a href='/hospital/{{hos_id}}/info-employee/{{employee.id}}/'>
                    {{employee.first_name}} {{employee.last_name}}</a></td>
                <td>
                    {% if employee.user_type == 1 %}
                        Doctor
                    {% elif employee.user_type == 2 %}
                        Staff
                    {% elif employee.user_type == 3 %}
                        Director
                    {% endif %}            
                </td>
                <td>{{employee.age}}</td>
                <td>{{employee.salary}}</td>                    
            </tr>
        
        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock PageContent %}
    

{% block EndScripts %}
<script defer="defer" src="{% static 'vendor/datatables/jquery.dataTables.min.js' %} "></script>
<script defer="defer" src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%} "></script>
<script defer="defer" src="{% static 'js/demo/datatables-demo.js' %} "></script>
{% endblock EndScripts %}
    